body {
    background-color: #F0F2F5;
}

header{
    font-family: Arial;
    background-color: #1E3A5F;
    color: #FFFFFF;
}

.usuario-card {
    background-color: white;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.btn-logout {
    background-color: #d9534f;
    color: white;
}

.btn-logout:hover {
    background-color: #c9302c;
}